@font-face {
  font-family: AI;;
  src: url('../fonts/Ai-Yzq8y.ttf') format('truetype');
}

.App {
  /* padding: 20px 25px; */
}



.header {
  display: grid;
  grid-template-columns: 3fr 1fr;
  justify-content: space-between;
  padding: 20px 20px 100px;
  align-items: center;
}

.header h3{
  font-weight: 700;
  color: #000000;
  font-size: 2em;
  margin: 0;
  text-transform: uppercase;
}
.productCart{
  font-weight: 500;
  color: #000000;
  font-size: 1.5em;
  margin: 0;
}

.row{
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding: 20px;
}
.product{
  /* margin-top: 100px; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 70vw;
  gap: 50px 20px ;
  text-align: center;
}

.cart{
  width: 25vw;
}

.product-img{
  width: 100%;
}
.cart-product-img{
  width: 60px;
}
p.pull-right{
  text-align: right;
  float: right;
}
.addCart{
  padding: 10px 15px;
  border-radius: 8px;
  border: 0px;
  background: tomato;
  color: white;
}
.cart-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
